<% layout("layouts/boilerPlate.ejs") %>

<section class="about-section">
    <div class="about">
        <h2>About Me</h2>
        <p>Hello! I’m Anand Swaroop <span class="red">&#x2665;</span>, a Computer Science graduate from Vellore Institute of Technology, passionate about technology, web development, and data-driven insights. I specialize in Full Stack development using React, Node.js, and MongoDB, and have a growing passion for Data Analysis — interpreting data to unlock better decisions and innovations.

            I love turning complex ideas into beautiful, functional digital experiences while constantly leveling up my skills.
            
            Beyond tech, you’ll find me sharpening my mind through sports like cricket, football, and chess. <br>
            
            Always hungry to learn, always ready to build 🚀.
            
            </p>
    </div>

    <div class="skills ">
        <h2>My Skills</h2>
        <div class="skills-grid">
          <span>Java</span>
          <span>Python</span>
          <span>JavaScript</span>
          <span>HTML</span>
          <span>CSS3</span>
          <span>MongoDB</span>
          <span>Express.js</span>
          <span>React</span>
          <span>Node.js</span>
          <span>SQL</span>
          <span>PostgreSQL</span>
          <span>Bootstrap</span>
          <span>Tailwind CSS</span>
          <span>MS Excel</span>
          <span>Power BI</span>
          <span>Data Analytics</span>
          <span>AI/ML</span>
          <span>Git & Github</span>
          <span>Visual Studio Code</span>
          <span>Vite</span>
        </div>
      </div>

    <div class="certificates">
        <h2>Certificates</h2>
        <ul>
            <li class="sticker">Google Cloud Computing Foundations Program <a style="color: rgb(171, 116, 216);" href="https://drive.google.com/file/d/1lr9b73fMgRbXxS4dIdLV6dS7tt96JAjC/view?usp=drive_link">[..view]</a></li>
            <li class="sticker">Modern Application Development - Java SpringBoot <a style="color: rgb(171, 116, 216);" href="https://drive.google.com/file/d/1CfVeAWmr6Yc6eZXeO5pU9LVLkbH8PW-f/view?usp=drive_link">[..view]</a></li>
            
        </ul>
    </div>
</section>