<% layout("layouts/boilerPlate.ejs") %>


<section class="contact-section">
    <h2>Get In Touch</h2>
    <p>Feel free to reach out for collaborations or just a friendly hello 👋</p>
  
    <div class="contact-content">
      
        <div class="contact-info">
            <h3>Contact</h3>
            <span><a href="mailto:anandswaroop2830@gmail.com">Email : anandswaroop2830@gmail.com</a></span>
            <span><i class="fa-solid fa-phone">  +91-9161059377</i></span>
        </div>
        
        <h3 class="social">Socials</h3>
        <div class="social-links">
            
            <a href="https://www.linkedin.com/in/anand-swaroop-84b507269/" target="_blank"><i class="fa-brands fa-linkedin"></i>LinkedIn</a>
            <a href="https://www.instagram.com/anand._swaroop._/?hl=en" target="_blank"><i class="fa-brands fa-square-instagram"></i>Instagram</a>
            <a href="https://github.com/Anand04git" target="_blank"><i class="fa-brands fa-github"></i>GitHub</a>
            
        </div>
    </div>
</section>