<% layout("layouts/boilerPlate.ejs") %>

<body>
    <div class="container">
        <div class="content">
            <h1>Anand Swaroop</h1>
            <p>Software Developer | Data Analyst </p>
            <div class="btns">
                <button class="buttons"><a href="/assests/ANAND RESUME.pdf"  target="_blank">View Resume</a></button>
                <button class="buttons"><a href="/contact">Contact Me</a></button>
            </div>

            <div class="moto">
                <span><i>"Turning ideas into code, and data into decisions."</i></span>
              </div>
          </div>

    </div>
</body> 