<% layout("layouts/boilerPlate.ejs") %>

<div class="project-container">
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Wanderlust- A travel website</h5>
        <p class="card-text">
          Developed a travel website like Airbnb using Node.js, Express.js, and
          MongoDB, focusing on seamless user experience and efficient data
          management.
        </p>
        <div class="button">
          <a href="https://github.com/Anand04git/wanderlust" class="btn"
            >Source Code &rarr;</a
          >
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Washify</h5>
        <p class="card-text">
          Developed a travel website like Airbnb using Node.js, Express.js, and
          MongoDB, focusing on seamless user experience and efficient data
          management.
        </p>
        <div class="button">
          <a href="/pending" class="btn">Source Code &rarr;</a>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Hospital Management System</h5>
        <p class="card-text">
          Developed the front-end interface for the Hospital Management System
          project, ensuring user-friendly design and seamless navigation.
        </p>
        <div class="button">
          <a
            href="https://github.com/Anand04git/Hospital-Management-System"
            class="btn"
            >Source Code &rarr;</a
          >
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">PortFolio Website</h5>
        <p class="card-text">
          A personal portfolio website highlighting my projects, skills, and
          experience in tech. Built with modern web technologies for a clean and
          responsive design.
        </p>
        <div class="button">
          <a href="https://github.com/Anand04git/PortFolio" class="btn"
            >Source Code &rarr;</a
          >
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">NewsBeast</h5>
        <p class="card-text">
          Implemented a News website using React and React Router for seamless
          navigation within the project, enhancing user experience with
          efficient browsing of news articles across different categories.
        </p>
        <div class="button">
          <a href="#" class="btn">Source Code &rarr;</a>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Retail Sales Analysis</h5>
        <p class="card-text">
          A data-driven analysis of retail sales to uncover trends, patterns,
          and actionable business insights. Leverages SQL for efficient data
          extraction, transformation, and insightful reporting.
        </p>
        <div class="button">
          <a
            href="https://github.com/Anand04git/Retail_sales-Analysis"
            class="btn"
            >Source Code &rarr;</a
          >
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Library Management</h5>
        <p class="card-text">
          A comprehensive system designed to manage library operations including
          book issuance, returns, and inventory tracking. Utilizes SQL to handle
          database operations for efficient record management.
        </p>
        <div class="button">
          <a href="https://github.com/Anand04git/Library_Management" class="btn"
            >Source Code &rarr;</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
